.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 301;
  width: 100vw;
  padding: 0 7%; 
  
}
#logo {
  width: 80px;
  height: auto;
  align-self: flex-start;
  margin: 20px;
}

  ul {
    display: flex;
    justify-content: center;
    align-items: flex;
    padding: 20px;

  }

 li {
   display: flex;
   align-items: center;
  li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  li:hover::after,
:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
 }  

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 5px 15px;

  
  
} 
img {
  height: 24px;
  width: auto;
}
h3 {
  color: #FFFFFF;
  margin-left: 5px;
  font: 700 16px 'Raleway', sans-serif;
}
