.searchContainer {
  display: flex;
  flex-direction: column;

  .drivers {
    margin: 40px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }
  .test{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    .carMap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .driverInfo {
      .minibusphoto{
        display: flex;
        justify-content: center;
        width: 380px;
        height: 200px;
        border: 2px solid #FFB740;
        align-items: center;
        margin: 10px;
        border-radius: 8px;
        >img{
          height: 180px;
          width:auto;
          object-fit:contain;
        }
      }
    } 
  }
  .bookButton{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}