.mainContainer{
  display: flex;
  height: 40px;
  width: 40px;
  border-radius:8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.selected {
  background-color: #F24A72;
}
.unselected {
  background-color: blue;

}

