@import "../utils/colors.scss";

.ticketContainer{
  background-color: $yellow;
  width: 380px;
  height: 168px; 
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;

  .qrCode {
      img{
        width: 144.57px;
        height: 144.57px;
        margin-left: 10px;
      }
  }
  .ticketInf{
    height:144.57px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    
  }
  .inf{
    display: flex;
    img{
        margin: 0 5px 0 5px;
    }
    p {
      color: $dark;
    }
  }
}